<!-- This is the what shows up upon the user encountering an 
error! -->

<% layout("layouts/boilerplate") %>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">
                    <%= err.statusCode %> Error: <%= err.message %>
                </h4>
            </div>
        </div>
    </div>